.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 122px;
  color: rgba(16, 38, 84, 1);
  background-color: rgba(248, 249, 252, 1);
}

.advantages__title {
  display: block;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  text-align: center;
  margin-top: 123px;
}

.advantages__list {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0 60px;
  list-style-type: none;
}

.advantages__card {
  margin: 0;
  padding: 0;
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  &:first-of-type {
    .advantages__number {
      margin: 0 auto;
      overflow: hidden;
    }
  }

  &:nth-child(2n) {
    grid-column: 1/2;
    padding-bottom: 80px;
  }

  &:nth-last-child(-n + 2) {
    padding-top: 50px;
    padding-bottom: 0;
    border-bottom: 2px solid transparent;

    .advantages__description {
      width: 234px;
    }
  }

  &:last-child {
    .advantages__number span {
      padding-right: 25px;
    }
  }
}

.advantages__number {
  max-width: 137px;
}

.advantages__number span {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: rgba(46, 53, 172, 1);
  max-width: 137px;
  padding-right: 30px;

  &:first-child {
    padding-top: 5px;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: transparent;
    background-color: rgba(46, 53, 172, 1);
    background-image: -o-linear-gradient(307.49deg, rgb(209, 10, 66, 1) 0%, rgba(0, 65, 202, 1) 87.33%);
    background-image: linear-gradient(142.51deg, rgb(209, 10, 66, 1) 0%, rgba(0, 65, 202, 1) 87.33%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.advantages__title-card {
  display: block;
  margin: 0;
  padding-top: 5px;
  font-size: 22px;
  line-height: 22px;
}

.advantages__description {
  display: block;
  width: 240px;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
}

.advantages__card--center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  width: 240px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(28, 51, 116, 1);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border-bottom: 2px solid transparent;

  .advantages__number span {
    color: rgba(255, 255, 255, 1);

    &:first-child {
      background-color: rgba(255, 255, 255, 1);
      background-image: none;
      margin: 0 auto;
      padding: 0;
      padding-top: 70px;
      font-size: 68px;
      line-height: 68px;
      letter-spacing: 1.5px;
    }
  }

  .advantages__unit {
    width: 135px;
    margin: 0 auto;
    padding: 0;
    padding-top: 14px;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  }

  .advantages__description {
    width: 172px;
    margin: 0 auto;
    padding: 0;
    padding-top: 36px;
    padding-bottom: 78px;
  }
}

@include vp-1365 {
  .advantages {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 19px;
  }

  .advantages__title {
    margin: 0 auto;
    margin-top: 112px;
    margin-bottom: 44px;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  .advantages__list {
    width: 678px;
    padding-bottom: 82px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 50px;
    row-gap: 0;
  }

  .advantages__card {
    margin: 0;
    padding: 0;
    width: 314px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 0;

    &:nth-child(2n) {
      padding-bottom: 41px;
      border-bottom: 2px solid transparent;
    }

    &:nth-last-child(-n + 2) {
      padding-top: 36px;
      padding-bottom: 0;
      border-bottom: 2px solid transparent;
    }

    &:nth-child(3n) {
      border-bottom: 2px solid transparent;

      .advantages__number {
        display: block;
        width: 80px;
      }

      .advantages__number span {
        padding-right: 0;
      }

      .advantages__title-card {
        width: 222px;
      }

      .advantages__description {
        width: 224px;
        letter-spacing: -0.25px;
      }
    }

    &:nth-child(5n) {
      .advantages__number {
        display: block;
        width: 80px;
      }

      .advantages__number span {
        padding-right: 0;
      }

      .advantages__title-card {
        width: 222px;
      }

      .advantages__description {
        width: 225px;
        letter-spacing: -0.25px;
      }
    }

    .advantages__title-card {
      width: 193px;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      grid-column-start: 2;
      grid-row-start: 1;
    }

    .advantages__description {
      width: 193px;
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      padding-top: 13px;
      line-height: 24px;
    }
  }

  .advantages__number span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: rgba(46, 53, 172, 1);
    padding-top: 7px;
    padding-right: 12px;

    &:first-child {
      padding-top: 5px;
      font-weight: 700;
      font-size: 68px;
      line-height: 68px;
      letter-spacing: 2.5px;
    }
  }

  .advantages__card--center {
    width: 400px;
    margin: 0 auto;
    padding: 35px 35px 33px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;

    .advantages__number {
      padding: 0;
      padding-top: 0;
    }

    .advantages__number span {
      padding-top: 27px;
      padding-right: 0;

      &:first-child {
        padding-top: 0;
      }
    }

    .advantages__unit {
      order: -1;
      padding: 0;
      font-size: 24px;
      line-height: 24px;
    }

    .advantages__title-card {
      padding: 0;
    }

    .advantages__description {
      width: 210px;
      padding: 0;
      padding-top: 25px;
      font-weight: 400;
    }
  }
}

@include vp-767 {
  .advantages {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 3px;
  }

  .advantages__title {
    margin-top: 70px;
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }

  .advantages__list {
    width: 320px;
    padding-bottom: 0;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, auto);
    row-gap: 0;
    column-gap: 0;
  }

  .advantages__card {
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 39px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .advantages__number {
      margin: 0 auto;
    }

    &:nth-child(2n) {
      grid-row: 1/2;
      grid-column: 1/2;
      padding-bottom: 14px;
    }

    &:nth-child(3n) {
      grid-row: 2/3;
      grid-column: 1/2;
      padding-bottom: 37px;

      .advantages__number span {
        width: 80px;
        margin: 0;
        padding: 0;
      }
    }

    &:nth-child(4n) {
      grid-row: 4/5;
      grid-column: 1/2;
      padding: 41px 0 20px;

      .advantages__number span {
        margin: 0 auto;
        padding: 0;
      }
    }

    &:nth-child(5n) {
      grid-row: 5/6;
      grid-column: 1/2;
      padding: 13px 0 45px;

      .advantages__number span {
        margin: 0 auto;
        padding: 0;
        width: 80px;
      }
    }

    .advantages__number span {
      padding-top: 0;
      padding-right: 0;
      line-height: 22px;

      &:first-child {
        padding-top: 0;
        font-size: 62px;
        line-height: 62px;
        letter-spacing: 1.5px;
      }
    }

    .advantages__content {
      margin: 0 auto;
    }

    .advantages__title-card {
      width: 160px;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      margin: 0 auto;
      order: -2;
      padding-top: 12px;
    }

    .advantages__description {
      width: 166px;
      font-size: 14px;
      line-height: 22px;
      order: -1;
      padding-top: 12px;
    }

    .advantages__unit {
      width: 160px;
      font-size: 14px;
      line-height: 20px;
      order: -3;
      padding-top: 0;
      margin: 0 auto;
    }
  }

  .advantages__card:nth-last-child(-n+2) .advantages__description {
    width: 205px;
    margin: 0 auto;
  }

  .advantages__card--center {
    width: 320px;
    margin: 0 auto;
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 31px 0 37px;

    .advantages__number span {
      padding-top: 5px;
      padding-right: 0;
      line-height: 22px;
      font-size: 22px;
      text-align: center;

      &:first-child {
        padding-top: 0;
      }
    }

    .advantages__description {
      width: 190px;
      padding: 21px 0 0 0;
      font-weight: 400;
    }
  }
}
