.contacts-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  width: 220px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0);

  &:first-of-type {
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &:nth-of-type(2n) {
    margin-top: 9px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &:nth-of-type(3n) {
    margin-top: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &:nth-of-type(4n) {
    margin-top: 9px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.contacts-card__title {
  display: block;
  width: 220px;
  font-family: "AlumniSans-Regular", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  letter-spacing: 1.75px;
}

.contacts-card__description {
  display: block;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  padding-top: 4px;
  width: 220px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-family: "AlumniSans-Regular", "Arial", sans-serif;
  font-size: 18px;

  &:hover {
    color: rgba(28, 51, 116, 0.8);
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
  }

  &:focus {
    border: 1px solid rgba(28, 51, 116, 1);
    outline: none;
  }

  &:active {
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
  }

  &:disabled {
    color: rgba(28, 51, 116, 0.3);
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
  }
}

@include vp-1365 {
  .contacts-card {
    &:first-of-type {
      margin-top: 0;
    }

    &:nth-of-type(2n) {
      margin-top: 19px;
    }

    &:nth-of-type(3n) {
      margin-top: 0;
    }

    &:nth-of-type(4n) {
      margin-top: 19px;
    }
  }

  .contacts-card__title {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.15px;
    margin-top: 4px;
  }

  .contacts-card__description {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-size: 14px;
    padding-top: 9px;
  }
}

@include vp-767 {
  .contacts-card {
    width: 290px;

    &:first-of-type {
      margin-top: 0;
      margin-bottom: 20px;
    }

    &:nth-of-type(2n) {
      margin-top: 0;
      margin-bottom: 20px;
    }

    &:nth-of-type(3n) {
      margin-top: 0;
      margin-bottom: 20px;
    }

    &:nth-of-type(4n) {
      margin-top: 0;
    }
  }

  .contacts-card__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 3px;
  }

  .contacts-card__description {
    font-size: 14px;
    line-height: 20px;
  }
}
