.faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 116px;
  color: rgba(16, 38, 84, 1);
  background-color: rgba(248, 249, 252, 1);
  width: 100%;
}

.faq__title {
  display: block;
  width: 1160px;
  margin: 0 auto;
  margin-top: 118px;
  margin-bottom: 51px;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
}

.faq__wrapper-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 1160px;
}

.faq__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
  width: 260px;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.faq__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
  margin: 0 auto;
  margin-left: 40px;
}

.faq__button {
  display: block;
  align-self: start;
  width: 260px;
  user-select: none;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 17px 48px;
  text-transform: none;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:focus {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.faq__button.is-active {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
}

.button-active {
  border: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(237, 2, 51, 1);
  border-right: 1px solid rgba(0, 62, 183, 1);
}

@include vp-1365 {
  .faq {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 99px;
  }

  .faq__title {
    width: 768px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  .faq__wrapper-content {
    margin: 0 auto;
    padding-bottom: 35px;
    width: 768px;
  }

  .faq__list {
    margin: 0 auto;
    margin-left: 45px;
    width: 678px;
    flex-direction: row;
    justify-content: space-between;
  }

  .faq__item {
    width: 162px;
    margin: 0;
  }

  .faq__button {
    padding: 15px 34px;
    padding-top: 18px;
  }

  .faq__wrapper {
    width: 678px;
    margin-left: 45px;
  }
}

@include vp-767 {
  .faq {
    flex-direction: column;
    width: 100%;
    padding-bottom: 83px;
  }

  .faq__title {
    width: 320px;
    margin: 0 auto;
    margin-top: 71px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }

  .faq__wrapper-content {
    margin: 0 auto;
    margin-top: 36px;
    width: 320px;
    padding-bottom: 0;
    flex-direction: column;
  }

  .faq__list {
    width: 290px;
    margin: 0 auto;
  }

  .faq__item {
    width: 141px;
    margin-bottom: 8px;
  }

  .faq__button {
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.25px;
    padding: 15px 30px 9px;
  }

  .faq__wrapper {
    width: 290px;
    margin: 0 auto;
  }
}
