.feedback {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(683px, 683px);
  grid-template-rows: repeat(3, auto);
  width: 100%;
  align-items: stretch;
  background-image: linear-gradient(90deg, rgba(16, 38, 84, 1) 50%, rgba(255, 255, 255, 1) 50%);
  border-top: 1px solid rgba(116, 129, 156, 1);
}

@include vp-1365 {
  .feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(16, 38, 84, 1) 48%, rgba(255, 255, 255, 1) 45%);
  }
}

@include vp-767 {
  .feedback {
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(16, 38, 84, 1) 43.25%, rgba(255, 255, 255, 1) 43.25%);
  }
}
