.card__title {
  display: block;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.card__description {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin: 0 auto;
  padding-top: 9px;
}

.card__price-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card__price {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  color: rgba(16, 58, 174, 1);
  margin: 0 auto;
  padding-top: 72px;
  z-index: 1;

  span {
    color: rgba(16, 38, 84, 1);
  }
}

.card__shadow {
  position: absolute;
  content: "";
  display: block;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(232, 232, 232, 1);
  font-size: 96px;
  line-height: 96px;
  font-weight: 700;
  letter-spacing: 3.55px;
}

.card__button {
  display: block;
  margin: 0 auto;
  margin-top: 34px;
  width: 208px;
  padding: 26px 30px;
  user-select: none;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:focus {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@include vp-1365 {
  .card__title {
    font-size: 24px;
  }

  .card__description {
    padding-top: 15px;
  }

  .card__price {
    padding-top: 78px;
  }

  .card__button {
    margin-top: 23px;
    padding: 21px 30px;
  }

  .card__shadow {
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@include vp-767 {
  .card__title {
    width: 122px;
    font-size: 22px;
    line-height: 22px;
    margin: 0 auto;
  }

  .card__description {
    width: 107px;
    padding-top: 14px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
  }

  .card__price {
    width: 170px;
    padding-top: 63px;
    font-size: 48px;
    line-height: 72px;
  }

  .card__button {
    width: 207px;
    margin: 0 auto;
    margin-top: 22px;
    padding: 20px 40px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
  }

  .card__shadow {
    font-size: 76px;
    line-height: 76px;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
  }
}
